<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!--
    Add a logger config to see logging messages.
        - For more detailed logs, set values to "FINEST"
        - For info on logging levels, see:
            http://www.vogella.com/tutorials/Logging/article.html
    -->
    <bean id="myLoggerConfig" class="com.vnlemanhthanh.springdemo.MyLoggerConfig" init-method="initLogger">
        <property name="rootLoggerLevel" value="FINE" />
        <property name="printedLoggerLevel" value="FINE"/>
    </bean>

    <!-- load the properties file -->
    <context:property-placeholder location="classpath:sport.properties"></context:property-placeholder>

    <!-- Define your beans here -->
    <bean id="myFortuneService"
          class="com.vnlemanhthanh.springdemo.HappyFortuneService">
    </bean>

    <bean id="myCoach"
        class="com.vnlemanhthanh.springdemo.TrackCoach" >

        <constructor-arg ref="myFortuneService"></constructor-arg>
    </bean>

    <bean id="myCricketCoach"
          class="com.vnlemanhthanh.springdemo.CricketCoach">

        <property name="fortuneService" ref="myFortuneService"></property>

<!--            <property name="emailAddress" value="thebestcoach@vnlemanhthanh.com"></property>-->
<!--            <property name="team" value="Sunrises Hyderrabad"></property>-->

        <property name="emailAddress" value="{foo.email}"></property>
        <property name="team" value="{foo.team}"></property>

    </bean>


    
</beans>





